<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>

  <!-- Accordion code -->
  <div class="accordion-container">
    <button class="accordion theme-bl-and-white-bordered">Section 1</button>
    <div class="panel theme-bl-and-white-bordered">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea
        commodo consequat.</p>
    </div>
  </div>

  <!-- Accordions with image -->
  <div class="accordion-container 
    accordion-img">
    <button class="accordion theme-bl-and-white-bordered">Section 1</button>
    <div class="panel theme-bl-and-white-bordered fx-container-hr">
      <div class="fx-item fx-left">
        <div class="img-containler">
          <img class="border-b,tm" src="images/stickers-regular/86003.png">
        </div>
      </div>
      <div class="fx-item fx-right">
        <div>
          <h3>what to do??</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          </p>
        </div>
      </div>

    </div>
  </div>


</body>

</html>