<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="img-container" alt="Translumo translator demonstration">
        <div class="banner-sml">
            <h5>- SPECIAL DRAGON SPELL -</h5>
        </div>
        <div class="img-caption fx-container-hr img-banner ">
            <div class="img-icon-con"><img xlass="img-icon"
                    src="../assets/images/Characters/Zhu/disk-zhu-icon.png"></div>
            <div class="vertical">
                <p><strong>General Effect</strong>: When dealing NA, it increases Crit DMG for 5 seconds,
                    stacks up to 5 times. Gains additional skill DMG on full stacks. Duration resets every
                    new stacks.</p>
                <p><strong>Special Effect</strong> : Increases the numbers of follow-up sword energy strikes
                    of "Severing Evil Flame Slash", each strike's DMG scales with current level.</p>
            </div>

        </div>
    </div>

</body>

</html>