<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- keywords -->
    <meta name="keywords" content="GLC, Guilongchao, Zhu" />

    <!-- website description -->
    <meta name="description"
        content="Gui Long Chao, the 3D side-scrolling action game set in the vibrant Kowloon Street" />

    <!-- Author -->
    <meta name="author" content="Kafka" />

    <!-- Google Fonts ------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Headers -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Body -->
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Highlight -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">



    <!-- Google Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- tab icon -->
    <link rel="icon" type="image/x-icon" href="../assets/images/icons/Zhu-icon.png" />

    <!-- Font Awesome -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/styles/styles.css">

    <link rel="stylesheet" href="../assets/styles/themes.css">

    <!-- Custom JavaScript -->
    <script src="../assets/scripts/script.js" async></script>

    <!-- Title -->
    <title>GLC Website Project</title>

    <title>Document</title>
</head>
<body>

    <!-- Character teams Section starts -->
    <section>
        <h2 class="container-gap">TEAMS</h2>

        <div class="team-container theme-bk-gray img-border">

            <div class="container-flex-row team-row-container ">
                <div class="item">
                    <h3><u>01 Team</u></h3>
                    <p>Qinlong + Zhu + Yu Bing</p>
                    <div class="rotation-text container-flex-row">
                        <p class="vertical-text label-red text-color-wh rotation-header"><strong ></strong>team rotation</p>
                        <p class="highlight small"><strong>Qinlong</strong>: breaks toughness + <strong>Yu Bing</strong>: skill + <strong>Zhu</strong>: dps + <strong>Qinlong</strong>: enter</p>
                    </div>                          
                    
                </div>

                <div class="container-flex-row item-extra-large fx-container-right crarater-row">
                    <img class="img-border character-card-team" src="../assets/images/Characters/Qinlong-Yuanjun.jpg">
                    <img class="img-border character-card-team"
                        src="../assets/images/Characters/Zhu.jpg">
                    <img class="img-border character-card-team" src="../assets/images/Characters/Yu-Bing.jpg">
                </div>

            </div>

            <div class="container-flex-row team-row-container row-rewerse">
                <div class="item">
                    <h3><u>02 Team</u></h3>
                    <p>Qinlong + Zhu + Fu Ling </p>
                    <div class="rotation-text container-flex-row">
                        <p class="vertical-text label-red text-color-wh rotation-header"><strong ></strong>team rotation</p>
                        <p class="highlight small"><strong>Qinlong</strong>: breaks toughness + <strong>Fu Ling</strong>: damage increase + <strong>Zhu</strong>: dps + <strong>Qinlong</strong>: enter</p>
                    </div>     
                </div>

                <div class="container-flex-row item-extra-large fx-container-right crarater-row">
                    <img class="img-border character-card-team" src="../assets/images/Characters/Qinlong-Yuanjun.jpg">
                    <img class="img-border character-card-team"
                        src="../assets/images/Characters/Zhu.jpg">
                    <img class="img-border character-card-team" src="../assets/images/Characters/Fu Ling.jpg">
                </div>

            </div>

            <div class="container-flex-row team-row-container ">
                <div class="item">
                    <h3><u>03 Team</u></h3>
                    <p>Qinlong + ChangMingSuo + Yu Ying </p>
                    <div class="rotation-text container-flex-row">
                        <p class="vertical-text label-red text-color-wh rotation-header"><strong ></strong>team rotation</p>
                        <p class="highlight small"><strong>Qinlong</strong>: breaks toughness + <strong>Yu Ying</strong>: enemies grouping + <strong>Suo</strong>: dps + <strong>Qinlong</strong>: enter</p>
                    </div>     
                </div>

                <div class="container-flex-row item-extra-large fx-container-right crarater-row">
                    <img class="img-border character-card-team" src="../assets/images/Characters/Qinlong-Yuanjun.jpg">
                    <img class="img-border character-card-team"
                        src="../assets/images/Characters/Chang-Ming-Suo.jpg">
                    <img class="img-border character-card-team" src="../assets/images/Characters/Yu-Ying.jpg">
                </div>
            </div>                 

        </div>
                        
    </section>
    <!-- Section ends -->
    
</body>
</html>