<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
  <link rel="stylesheet" href="../assets/styles/styles.css">

  <link rel="stylesheet" href="../assets/styles/themes.css">

  <!-- Custom JavaScript -->
  <script src="assets/scripts/script.js" async></script>
    <title>Document</title>
</head>
<body>

    <!-- character intro container -->
    <div class="banner-container element">
        <div class="banner-sml">
          <h3>CURRENT CHARACTER - Qing Long Yuan Jun </h3>
        </div>
        <div class="img-banner theme-gray-bordered no-border-top">
          <div>
            <img class="border-btm" src="../assets/images/current-unit.jpg " alt="relic set image">
          </div>
          <div class="fx-container-hr img-caption">
            <div class="img-icon-con"><img class="img-icon img-border"
                src="assets/images/Characters/Qinlong-Yuanjun-mod.png" alt="relic set icon"></div>
            <div class="vertical">
              <p><span class="label-red text-color-wh">Rarity</span> - 5 Star;</p>
              <p><span class="label-red text-color-wh">Element</span>: Water;</p>
              <p><span class="label-red text-color-wh">Role</span>: Breaker;</p>
              <p><span class="label-red text-color-wh">Speciality</span>: Crowd control and damage increase.</p>
              <p>Found out more information <a
                  href="https://www.bilibili.com/opus/986311442541051920?spm_id_from=333.999.0.0" class="inner-link"
                  target="_blank"><span class="label-red text-color-wh">here</span></a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- character container ends -->
    
</body>
</html>