<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h6 class="highlight small">By Kafka (layout and code), 

        <u><a href="https://x.com/typicallygema" target="_blank"
                class="inner-link">Gema</a></u>,

        <u><a href="https://x.com/zhaixii" target="_blank" class="inner-link">Chelo</a></u>,

        <u><a href="https://x.com/HDaunting" target="_blank" class="inner-link">Alkane</a></u>

        
        (translation); November, 2024
    </h6>

</body>

</html>