<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="element">
        <div class="banner-sml highlight">
            <p><span class="label-red">Zhu</span> is a 5★ rarity character from the
                Fire element who's role is DPS. </p>
            <p><span class="label-red">Attribute</span> - Fire</p>
            <p><span class="label-red">Height</span> - 181</p>
            <p><span class="label-red">Birthday</span> - December, 4th</p>
            <p> <span class="label-red">Ocupation</span> - Taoist Priest</p>
        </div>
    </div>

    <div class="element">
        <div class="banner-sml highlight">
            
            <p> <span class="label-red">Ocupation</span> - Taoist Priest</p>
        </div>
    </div>

</body>
</html>