<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- weapon container container -->
    <div class="banner-container element">
        <div class="banner-sml">
            <h3>- SPECIAL DRAGON SPELL - </h3>
        </div>
        <div class="img-banner theme-gray-bordered no-border-top">                        
            <div class="fx-container-hr img-caption">
                <div class="img-icon-con"><img class="img-icon img-border-round"
                        src="../assets/images/Characters/Zhu/disk-zhu-icon.png" alt="relic set icon"></div>
                <div class="vertical">
                    <p><span class="label-red text-color-wh">General Effect</span>: When dealing NA, it increases Crit DMG for 5 seconds,
                        stacks up to 5 times. Gains additional skill DMG on full stacks. Duration resets every
                        new stacks.</p>
                    <p><span class="label-red text-color-wh">Special Effect</span> : Increases the numbers of follow-up sword energy strikes
                        of "Severing Evil Flame Slash", each strike's DMG scales with current level.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- weapon container ends -->
    
</body>
</html>